@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@500&family=Open+Sans&display=swap");

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: #e4ebf1;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

i {
  margin: 0 5px;
}

.btn-flex {
  display: flex;
  align-items: center;
}

.spinner-border .sr-only {
  display: none !important;
}
